// this file is @generated
{% if type.kind == "struct" and type.fields | length == 0 -%}
{% endif -%}
{% if type.description is defined -%}
{% set doc_comment = type.description | to_doc_comment(style="js") -%}
{% endif -%}

{% if type.kind == "struct" -%}
    {% include "types/struct.ts.jinja" -%}
{% elif type.kind == "string_enum" -%}
    {% include "types/string_enum.ts.jinja" -%}
{% elif type.kind == "integer_enum" -%}
    {% include "types/integer_enum.ts.jinja" -%}
{% elif type.kind == "struct_enum" -%}
    {% include "types/struct_enum.ts.jinja" -%}
{% endif %}
