{{ doc_comment }}
export enum {{ type.name | to_upper_camel_case }} {
    {% for value in type.values -%}
    {{ value | to_upper_camel_case }} = '{{ value }}',
    {% endfor -%}
}

export const {{ type.name | to_upper_camel_case }}Serializer = {
    _fromJsonObject(object: any): {{ type.name | to_upper_camel_case }} {
        return object;
    },

    _toJsonObject(self: {{ type.name | to_upper_camel_case }}): any {
        return self;
    }
}
