// This file is @generated
package com.svix.kotlin.models

import com.svix.kotlin.MaybeUnset
import kotlinx.datetime.Instant
import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable
import kotlinx.serialization.json.JsonObject
import com.svix.kotlin.StringAnyMapSerializer
import com.svix.kotlin.MaybeUnsetStringAnyMapSerializer



@Serializable
{% if type.fields | length > 0 -%}
data class {{ type.name | to_upper_camel_case }}(
{% include "types/struct_fields.kt.jinja" %}
)
{% else -%}
data object {{ type.name | to_upper_camel_case }}
{% endif -%}
