{% set resource_type_name = resource.name | to_upper_camel_case -%}
<?php
// this file is @generated
declare(strict_types=1);

namespace Svix\Api;

{% for c in referenced_components -%}
use Svix\Models\{{ c | to_upper_camel_case }};
{% endfor -%}



class {{ resource_type_name }}{{ operation.name | to_upper_camel_case }}Options {
    public function __construct(
    {% for p in operation.query_params -%}
        public readonly ?{{ p.type.to_php() }} ${{ p.name | to_lower_camel_case  }} = null,
    {% endfor -%}
    {% for p in operation.header_params -%}
        public readonly ?string ${{ p.name | to_lower_camel_case  }} = null,
    {% endfor -%}
    ) {}
}
