{
    "openapi": "3.1.0",
    "info": {
        "title": "Svix API",
        "description": "Welcome to the Svix API documentation!\n\nUseful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)\n\n# Introduction\n\nThis is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).\n\n## Main concepts\n\nIn Svix you have four important entities you will be interacting with:\n\n- `messages`: these are the webhooks being sent. They can have contents and a few other properties.\n- `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.\n- `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).\n- `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.\n\n\n## Authentication\n\nGet your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).\n\n<SecurityDefinitions />\n\n\n## Code samples\n\nThe code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).\n\n\n## Idempotency\n\nSvix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.\n\nTo perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions. Your idempotency key should not begin with the string `auto_`, which is reserved for internal use by the client libraries.\n\nSvix's idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.\n\nPlease note that idempotency is only supported for `POST` requests.\n\n\n## Cross-Origin Resource Sharing\n\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n",
        "version": "1.919.0",
        "x-logo": {
            "url": "https://www.svix.com/static/img/brand-padded.svg",
            "altText": "Svix Logo"
        }
    },
    "servers": [
        {
            "url": "https://api.eu.svix.com/",
            "description": "The Svix EU region"
        },
        {
            "url": "https://api.us.svix.com/",
            "description": "The Svix US region"
        },
        {
            "url": "https://api.ca.svix.com/",
            "description": "The Svix Canada region"
        },
        {
            "url": "https://api.au.svix.com/",
            "description": "The Svix Australia region"
        },
        {
            "url": "https://api.in.svix.com/",
            "description": "The Svix India region"
        }
    ],
    "paths": {
        "/api/v1/auth/app-portal-access/{app_id}": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get Consumer App Portal Access",
                "description": "Use this function to get magic links (and authentication codes) for connecting your users to the Consumer Application Portal.",
                "operationId": "v1.authentication.app-portal-access",
                "parameters": [
                    {
                        "in": "path",
                        "name": "app_id",
                        "description": "The Application's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Application's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppPortalAccessIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppPortalAccessOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "TypeScript",
                        "label": "JavaScript",
                        "source": "const response = await svix.authentication.appPortalAccess(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  {\n    application: {\n      name: \"My first application\",\n      throttleRate: 1,\n      uid: \"unique-identifier\",\n      metadata: {},\n    },\n    capabilities: [],\n    featureFlags: [],\n    expiry: 1,\n    sessionId: \"user_1FB8\",\n  }\n);"
                    },
                    {
                        "lang": "TypeScript",
                        "label": "TypeScript",
                        "source": "const response = await svix.authentication.appPortalAccess(\n  \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n  {\n    application: {\n      name: \"My first application\",\n      throttleRate: 1,\n      uid: \"unique-identifier\",\n      metadata: {},\n    },\n    capabilities: [],\n    featureFlags: [],\n    expiry: 1,\n    sessionId: \"user_1FB8\",\n  }\n);"
                    },
                    {
                        "lang": "Python",
                        "label": "Python",
                        "source": "response = svix.authentication.app_portal_access(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    AppPortalAccessIn(\n        application=ApplicationIn(\n            name=\"My first application\",\n            throttle_rate=1,\n            uid=\"unique-identifier\",\n            metadata={},\n        ),\n        capabilities=[],\n        feature_flags=[],\n        expiry=1,\n        session_id=\"user_1FB8\",\n    ),\n)"
                    },
                    {
                        "lang": "Python",
                        "label": "Python (Async)",
                        "source": "response = await svix.authentication.app_portal_access(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    AppPortalAccessIn(\n        application=ApplicationIn(\n            name=\"My first application\",\n            throttle_rate=1,\n            uid=\"unique-identifier\",\n            metadata={},\n        ),\n        capabilities=[],\n        feature_flags=[],\n        expiry=1,\n        session_id=\"user_1FB8\",\n    ),\n)"
                    },
                    {
                        "lang": "Go",
                        "label": "Go",
                        "source": "response, err := svix.Authentication.AppPortalAccess(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tAppPortalAccessIn{\n\t\tApplication: new(\n\t\t\tApplicationIn{\n\t\t\t\tName:         \"My first application\",\n\t\t\t\tThrottleRate: new(uint16(1)),\n\t\t\t\tUid:          new(\"unique-identifier\"),\n\t\t\t\tMetadata:     nil,\n\t\t\t},\n\t\t),\n\t\tCapabilities: []AppPortalCapability{\"ViewBase\", \"ViewEndpointSecret\"},\n\t\tFeatureFlags: []string{},\n\t\tExpiry:       new(uint64(1)),\n\t\tSessionId:    new(\"user_1FB8\"),\n\t},\n\tnil,\n)"
                    },
                    {
                        "lang": "Kotlin",
                        "label": "Kotlin",
                        "source": "val response =\n    svix.authentication.appPortalAccess(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n        AppPortalAccessIn(\n            application =\n                ApplicationIn(\n                    name = \"My first application\",\n                    throttleRate = 1u,\n                    uid = \"unique-identifier\",\n                    metadata = mapOf(),\n                ),\n            capabilities =\n                setOf(AppPortalCapability.VIEW_BASE, AppPortalCapability.VIEW_ENDPOINT_SECRET),\n            featureFlags = setOf(),\n            expiry = 1u,\n            sessionId = \"user_1FB8\",\n        ),\n    )"
                    },
                    {
                        "lang": "Java",
                        "label": "Java",
                        "source": "var response = svix.getAuthentication()\n        .appPortalAccess(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            new AppPortalAccessIn()\n                .application(new ApplicationIn()\n                    .name(\"My first application\")\n                    .throttleRate(1L)\n                    .uid(\"unique-identifier\")\n                    .metadata(Map.of()))\n                .capabilities(\n                    Set.of(AppPortalCapability.VIEW_BASE, AppPortalCapability.VIEW_ENDPOINT_SECRET))\n                .featureFlags(Set.of())\n                .expiry(1L)\n                .sessionId(\"user_1FB8\"));"
                    },
                    {
                        "lang": "Ruby",
                        "label": "Ruby",
                        "source": "response = svix\n  .authentication\n  .app_portal_access(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    {\n      application: {name: \"My first application\", throttleRate: 1, uid: \"unique-identifier\", metadata: {}},\n      capabilities: [\"ViewBase\", \"ViewEndpointSecret\"],\n      featureFlags: [],\n      expiry: 1,\n      sessionId: \"user_1FB8\"\n    }\n  )"
                    },
                    {
                        "lang": "Rust",
                        "label": "Rust",
                        "source": "let response = svix\n    .authentication()\n    .app_portal_access(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        AppPortalAccessIn {\n            application: Some(ApplicationIn {\n                name: \"My first application\".to_string(),\n                throttle_rate: Some(1),\n                uid: Some(\"unique-identifier\".to_string()),\n                metadata: Some(HashMap::new()),\n            }),\n            capabilities: Some(vec![]),\n            feature_flags: Some(vec![]),\n            expiry: Some(1),\n            session_id: Some(\"user_1FB8\".to_string()),\n        },\n        None,\n    )\n    .await?;"
                    },
                    {
                        "lang": "C#",
                        "label": "C#",
                        "source": "var response = svix.Authentication.AppPortalAccess(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    new AppPortalAccessIn\n    {\n        Application = new ApplicationIn\n        {\n            Name = \"My first application\",\n            ThrottleRate = 1,\n            Uid = \"unique-identifier\",\n            Metadata = [],\n        },\n        Capabilities = [AppPortalCapability.ViewBase, AppPortalCapability.ViewEndpointSecret],\n        FeatureFlags = [],\n        Expiry = 1,\n        SessionId = \"user_1FB8\",\n    }\n);"
                    },
                    {
                        "lang": "PHP",
                        "label": "PHP",
                        "source": "$response = $svix->authentication->appPortalAccess(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    AppPortalAccessIn::create()\n    ->withApplication(ApplicationIn::create(\n        name: \"My first application\"\n    )\n    ->withThrottleRate(1)\n    ->withUid(\"unique-identifier\")\n    ->withMetadata([]))\n    ->withCapabilities([])\n    ->withFeatureFlags([])\n    ->withExpiry(1)\n    ->withSessionId(\"user_1FB8\")\n);"
                    },
                    {
                        "lang": "Shell",
                        "label": "CLI",
                        "source": "svix authentication app-portal-access \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" '{\n    \"application\": {\n      \"name\": \"My first application\",\n      \"throttleRate\": 1,\n      \"uid\": \"unique-identifier\",\n      \"metadata\": {}\n    },\n    \"capabilities\": [\n      \"ViewBase\",\n      \"ViewEndpointSecret\"\n    ],\n    \"featureFlags\": [],\n    \"expiry\": 1,\n    \"sessionId\": \"user_1FB8\"\n  }'"
                    },
                    {
                        "lang": "Shell",
                        "label": "cURL",
                        "source": "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/auth/app-portal-access/app_1srOrx2ZWZBpBUvZwXKQmoEYga2' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"application\": {\n      \"name\": \"My first application\",\n      \"throttleRate\": 1,\n      \"uid\": \"unique-identifier\",\n      \"metadata\": {}\n    },\n    \"capabilities\": [\n      \"ViewBase\",\n      \"ViewEndpointSecret\"\n    ],\n    \"featureFlags\": [],\n    \"expiry\": 1,\n    \"sessionId\": \"user_1FB8\"\n  }'"
                    }
                ]
            }
        },
        "/api/v1/auth/whoami": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Whoami",
                "description": "Return information about the account associated with the current token",
                "operationId": "v1.authentication.whoami",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WhoamiOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout",
                "description": "Logout an app token.\n\nTrying to log out other tokens will fail.",
                "operationId": "v1.authentication.logout",
                "parameters": [
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "no content"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "TypeScript",
                        "label": "JavaScript",
                        "source": "await svix.authentication.logout();"
                    },
                    {
                        "lang": "TypeScript",
                        "label": "TypeScript",
                        "source": "await svix.authentication.logout();"
                    },
                    {
                        "lang": "Python",
                        "label": "Python",
                        "source": "svix.authentication.logout()"
                    },
                    {
                        "lang": "Python",
                        "label": "Python (Async)",
                        "source": "await svix.authentication.logout()"
                    },
                    {
                        "lang": "Go",
                        "label": "Go",
                        "source": "err := svix.Authentication.Logout(ctx, nil)"
                    },
                    {
                        "lang": "Kotlin",
                        "label": "Kotlin",
                        "source": "svix.authentication\n    .logout()"
                    },
                    {
                        "lang": "Java",
                        "label": "Java",
                        "source": "svix.getAuthentication().logout();"
                    },
                    {
                        "lang": "Ruby",
                        "label": "Ruby",
                        "source": "response = svix.authentication.logout"
                    },
                    {
                        "lang": "Rust",
                        "label": "Rust",
                        "source": "svix.authentication().logout(None).await?;"
                    },
                    {
                        "lang": "C#",
                        "label": "C#",
                        "source": "var response = svix.Authentication.Logout();"
                    },
                    {
                        "lang": "PHP",
                        "label": "PHP",
                        "source": "$svix->authentication->logout();"
                    },
                    {
                        "lang": "Shell",
                        "label": "CLI",
                        "source": "svix authentication logout"
                    },
                    {
                        "lang": "Shell",
                        "label": "cURL",
                        "source": "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/auth/logout' \\\n  -H 'Authorization: Bearer AUTH_TOKEN'"
                    }
                ]
            }
        },
        "/api/v1/auth/app/{app_id}/expire-all": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Expire All",
                "description": "Expire all of the tokens associated with a specific application.",
                "operationId": "v1.authentication.expire-all",
                "parameters": [
                    {
                        "in": "path",
                        "name": "app_id",
                        "description": "The Application's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Application's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApplicationTokenExpireIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "no content"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "TypeScript",
                        "label": "JavaScript",
                        "source": "await svix.authentication.expireAll(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  expiry: 60,\n  sessionIds: [],\n});"
                    },
                    {
                        "lang": "TypeScript",
                        "label": "TypeScript",
                        "source": "await svix.authentication.expireAll(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {\n  expiry: 60,\n  sessionIds: [],\n});"
                    },
                    {
                        "lang": "Python",
                        "label": "Python",
                        "source": "svix.authentication.expire_all(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationTokenExpireIn(\n        expiry=60,\n        session_ids=[],\n    ),\n)"
                    },
                    {
                        "lang": "Python",
                        "label": "Python (Async)",
                        "source": "await svix.authentication.expire_all(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationTokenExpireIn(\n        expiry=60,\n        session_ids=[],\n    ),\n)"
                    },
                    {
                        "lang": "Go",
                        "label": "Go",
                        "source": "err := svix.Authentication.ExpireAll(\n\tctx,\n\t\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n\tApplicationTokenExpireIn{Expiry: new(int64(60)), SessionIds: []string{}},\n\tnil,\n)"
                    },
                    {
                        "lang": "Kotlin",
                        "label": "Kotlin",
                        "source": "svix.authentication.expireAll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationTokenExpireIn(expiry = 60, sessionIds = listOf()),\n)"
                    },
                    {
                        "lang": "Java",
                        "label": "Java",
                        "source": "svix.getAuthentication()\n        .expireAll(\n            \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n            new ApplicationTokenExpireIn().expiry(60L).sessionIds(List.of()));"
                    },
                    {
                        "lang": "Ruby",
                        "label": "Ruby",
                        "source": "response = svix.authentication.expire_all(\"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\", {expiry: 60, sessionIds: []})"
                    },
                    {
                        "lang": "Rust",
                        "label": "Rust",
                        "source": "svix.authentication()\n    .expire_all(\n        \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\".to_string(),\n        ApplicationTokenExpireIn {\n            expiry: Some(60),\n            session_ids: Some(vec![]),\n        },\n        None,\n    )\n    .await?;"
                    },
                    {
                        "lang": "C#",
                        "label": "C#",
                        "source": "var response = svix.Authentication.ExpireAll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    new ApplicationTokenExpireIn { Expiry = 60, SessionIds = [] }\n);"
                    },
                    {
                        "lang": "PHP",
                        "label": "PHP",
                        "source": "$svix->authentication->expireAll(\n    \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\",\n    ApplicationTokenExpireIn::create()\n    ->withExpiry(60)\n    ->withSessionIds([])\n);"
                    },
                    {
                        "lang": "Shell",
                        "label": "CLI",
                        "source": "svix authentication expire-all \"app_1srOrx2ZWZBpBUvZwXKQmoEYga2\" '{\n    \"expiry\": 60,\n    \"sessionIds\": []\n  }'"
                    },
                    {
                        "lang": "Shell",
                        "label": "cURL",
                        "source": "curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/auth/app/app_1srOrx2ZWZBpBUvZwXKQmoEYga2/expire-all' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"expiry\": 60,\n    \"sessionIds\": []\n  }'"
                    }
                ]
            }
        },
        "/api/v1/auth/org-group-admin-token": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "List Org Group Tokens",
                "description": "List all org group API tokens.",
                "operationId": "v1.authentication.org-group-admin-token.list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit the number of returned items",
                        "schema": {
                            "description": "Limit the number of returned items",
                            "type": "integer",
                            "format": "uint64",
                            "maximum": 250,
                            "minimum": 1.0
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "iterator",
                        "description": "The iterator returned from a prior invocation",
                        "schema": {
                            "description": "The iterator returned from a prior invocation",
                            "type": "string",
                            "maxLength": 31,
                            "minLength": 31,
                            "pattern": "^key_[A-Za-z0-9]{27}$",
                            "nullable": true,
                            "example": "key_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "The sorting order of the returned items",
                        "schema": {
                            "description": "The sorting order of the returned items",
                            "$ref": "#/components/schemas/Ordering",
                            "nullable": true
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResponse_GlobalApiTokenCensoredOut_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            },
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create Org Group Admin Token",
                "description": "Create a new auth token that can be used for all operations that aren't downstream for a app_id (so no apps, endpoints, messages, attempts, etc)",
                "operationId": "v1.authentication.org-group-admin-token.create",
                "parameters": [
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTokenIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTokenOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/auth/org-group-admin-token/{key_id}": {
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Update Org Group Token",
                "description": "Get the organization's settings (with dashboard-only fields exposed).",
                "operationId": "v1.authentication.org-group-admin-token.update",
                "parameters": [
                    {
                        "in": "path",
                        "name": "key_id",
                        "description": "The GlobalApplicationToken's ID.",
                        "required": true,
                        "schema": {
                            "description": "The GlobalApplicationToken's ID.",
                            "type": "string",
                            "maxLength": 38,
                            "minLength": 38,
                            "pattern": "^global_key_[A-Za-z0-9]{27}$",
                            "example": "global_key_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiTokenUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GlobalApiTokenCensoredOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/auth/org-group-admin-token/{key_id}/expire": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Expire Org Group Token",
                "description": "Expire the selected API Token.",
                "operationId": "v1.authentication.org-group-admin-token.expire",
                "parameters": [
                    {
                        "in": "path",
                        "name": "key_id",
                        "description": "The GlobalApplicationToken's ID.",
                        "required": true,
                        "schema": {
                            "description": "The GlobalApplicationToken's ID.",
                            "type": "string",
                            "maxLength": 38,
                            "minLength": 38,
                            "pattern": "^global_key_[A-Za-z0-9]{27}$",
                            "example": "global_key_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiTokenExpireIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "no content"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/auth/app/{app_id}/poller/{endpoint_id}/token/rotate": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Rotate Poller Token",
                "description": "Create a new auth token that can only use the poller API.",
                "operationId": "v1.authentication.rotate-poller-token",
                "parameters": [
                    {
                        "in": "path",
                        "name": "app_id",
                        "description": "The Application's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Application's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "path",
                        "name": "endpoint_id",
                        "description": "The Endpoint's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Endpoint's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RotatePollerTokenIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTokenOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/auth/app/{app_id}/poller/{endpoint_id}/token": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get Poller Token",
                "description": "Get the current auth token for the poller.",
                "operationId": "v1.authentication.get-poller-token",
                "parameters": [
                    {
                        "in": "path",
                        "name": "app_id",
                        "description": "The Application's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Application's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "path",
                        "name": "endpoint_id",
                        "description": "The Endpoint's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Endpoint's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTokenOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/auth/app/{app_id}/mcp-token": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "List MCP Tokens",
                "description": "List the MCP tokens for an application.",
                "operationId": "v1.authentication.list-mcp-tokens",
                "parameters": [
                    {
                        "in": "path",
                        "name": "app_id",
                        "description": "The Application's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Application's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Limit the number of returned items",
                        "schema": {
                            "description": "Limit the number of returned items",
                            "type": "integer",
                            "format": "uint64",
                            "maximum": 250,
                            "minimum": 1.0
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "iterator",
                        "description": "The iterator returned from a prior invocation",
                        "schema": {
                            "description": "The iterator returned from a prior invocation",
                            "type": "string",
                            "maxLength": 31,
                            "minLength": 31,
                            "pattern": "^key_[A-Za-z0-9]{27}$",
                            "nullable": true,
                            "example": "key_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "The sorting order of the returned items",
                        "schema": {
                            "description": "The sorting order of the returned items",
                            "$ref": "#/components/schemas/Ordering",
                            "nullable": true
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListResponse_McpTokenOut_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            },
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create Mcp Token",
                "description": "Create an MCP Token",
                "operationId": "v1.authentication.create-mcp-token",
                "parameters": [
                    {
                        "in": "path",
                        "name": "app_id",
                        "description": "The Application's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Application's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateMcpTokenIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateMcpTokenOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/auth/app/{app_id}/mcp-token/{token_id}": {
            "delete": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Revoke MCP Token",
                "description": "Revoke (delete) an MCP token.",
                "operationId": "v1.authentication.revoke-mcp-token",
                "parameters": [
                    {
                        "in": "path",
                        "name": "app_id",
                        "description": "The Application's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Application's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "path",
                        "name": "token_id",
                        "description": "The ApplicationToken's ID.",
                        "required": true,
                        "schema": {
                            "description": "The ApplicationToken's ID.",
                            "type": "string",
                            "maxLength": 31,
                            "minLength": 31,
                            "pattern": "^key_[A-Za-z0-9]{27}$",
                            "example": "key_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "no content"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/auth/app/{app_id}/create-message-token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create Cmg Token",
                "description": "Create a new access token that only allows creating messages inside this application.",
                "operationId": "v1.authentication.create-message-token",
                "parameters": [
                    {
                        "in": "path",
                        "name": "app_id",
                        "description": "The Application's ID or UID.",
                        "required": true,
                        "schema": {
                            "description": "The Application's ID or UID.",
                            "type": "string",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^[a-zA-Z0-9\\-_.]+$",
                            "example": "unique-identifier"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTokenIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTokenOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/management/authentication/{env_id}/api-token/{key_id}/expire": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Expire Api Token",
                "description": "Expire the selected API Token.",
                "operationId": "v1.management.authentication.expire-api-token",
                "parameters": [
                    {
                        "in": "path",
                        "name": "env_id",
                        "description": "The Environment's ID.",
                        "required": true,
                        "schema": {
                            "description": "The Environment's ID.",
                            "type": "string",
                            "maxLength": 31,
                            "minLength": 31,
                            "pattern": "^org_[A-Za-z0-9]{27}$",
                            "example": "org_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "path",
                        "name": "key_id",
                        "description": "The ApplicationToken's ID.",
                        "required": true,
                        "schema": {
                            "description": "The ApplicationToken's ID.",
                            "type": "string",
                            "maxLength": 31,
                            "minLength": 31,
                            "pattern": "^key_[A-Za-z0-9]{27}$",
                            "example": "key_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "header",
                        "name": "idempotency-key",
                        "description": "The request's idempotency key",
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiTokenExpireIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "no content"
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "x-internal": true
            }
        },
        "/api/v1/management/authentication/{env_id}/api-token/{key_id}": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get Api Token",
                "description": "Get an API token",
                "operationId": "v1.management.authentication.get-api-token",
                "parameters": [
                    {
                        "in": "path",
                        "name": "env_id",
                        "description": "The Environment's ID.",
                        "required": true,
                        "schema": {
                            "description": "The Environment's ID.",
                            "type": "string",
                            "maxLength": 31,
                            "minLength": 31,
                            "pattern": "^org_[A-Za-z0-9]{27}$",
                            "example": "org_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "path",
                        "name": "key_id",
                        "description": "The ApplicationToken's ID.",
                        "required": true,
                        "schema": {
                            "description": "The ApplicationToken's ID.",
                            "type": "string",
                            "maxLength": 31,
                            "minLength": 31,
                            "pattern": "^key_[A-Za-z0-9]{27}$",
                            "example": "key_1srOrx2ZWZBpBUvZwXKQmoEYga2"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiTokenCensoredOut"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HttpErrorOut"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
[...]
