/*
 * Svix API
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.1.1
 * 
 * Generated by: https://openapi-generator.tech
 */


use crate::Configuration;
use crate::models;
use crate::error::Error;
#[allow(unused_imports)]
use crate::models::*;

/// struct for passing parameters to the method [`v1_period_stream_period_event_type_period_create`]
#[derive(Clone, Debug)]
pub struct V1PeriodStreamPeriodEventTypePeriodCreateParams {
    pub stream_event_type_in: models::StreamEventTypeIn,
    /// The request's idempotency key
    pub idempotency_key: Option<String>
}

/// struct for passing parameters to the method [`v1_period_stream_period_event_type_period_delete`]
#[derive(Clone, Debug)]
pub struct V1PeriodStreamPeriodEventTypePeriodDeleteParams {
    /// The event type's name
    pub name: String
}

/// struct for passing parameters to the method [`v1_period_stream_period_event_type_period_get`]
#[derive(Clone, Debug)]
pub struct V1PeriodStreamPeriodEventTypePeriodGetParams {
    /// The event type's name
    pub name: String
}

/// struct for passing parameters to the method [`v1_period_stream_period_event_type_period_list`]
#[derive(Clone, Debug)]
pub struct V1PeriodStreamPeriodEventTypePeriodListParams {
    /// Limit the number of returned items
    pub limit: Option<i32>,
    /// The iterator returned from a prior invocation
    pub iterator: Option<String>,
    /// The sorting order of the returned items
    pub order: Option<Ordering>
}

/// struct for passing parameters to the method [`v1_period_stream_period_event_type_period_patch`]
#[derive(Clone, Debug)]
pub struct V1PeriodStreamPeriodEventTypePeriodPatchParams {
    /// The event type's name
    pub name: String,
    pub stream_event_type_patch: models::StreamEventTypePatch
}

/// struct for passing parameters to the method [`v1_period_stream_period_event_type_period_update`]
#[derive(Clone, Debug)]
pub struct V1PeriodStreamPeriodEventTypePeriodUpdateParams {
    /// The event type's name
    pub name: String,
    pub stream_event_type_in: models::StreamEventTypeIn
}


/// struct for typed errors of method [`v1_period_stream_period_event_type_period_create`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum V1PeriodStreamPeriodEventTypePeriodCreateError {
    Status400(models::HttpErrorOut),
    Status401(models::HttpErrorOut),
    Status403(models::HttpErrorOut),
    Status404(models::HttpErrorOut),
    Status409(models::HttpErrorOut),
    Status422(models::HttpValidationError),
    Status429(models::HttpErrorOut),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`v1_period_stream_period_event_type_period_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum V1PeriodStreamPeriodEventTypePeriodDeleteError {
    Status400(models::HttpErrorOut),
    Status401(models::HttpErrorOut),
    Status403(models::HttpErrorOut),
    Status404(models::HttpErrorOut),
    Status409(models::HttpErrorOut),
    Status422(models::HttpValidationError),
    Status429(models::HttpErrorOut),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`v1_period_stream_period_event_type_period_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum V1PeriodStreamPeriodEventTypePeriodGetError {
    Status400(models::HttpErrorOut),
    Status401(models::HttpErrorOut),
    Status403(models::HttpErrorOut),
    Status404(models::HttpErrorOut),
    Status409(models::HttpErrorOut),
    Status422(models::HttpValidationError),
    Status429(models::HttpErrorOut),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`v1_period_stream_period_event_type_period_list`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum V1PeriodStreamPeriodEventTypePeriodListError {
    Status400(models::HttpErrorOut),
    Status401(models::HttpErrorOut),
    Status403(models::HttpErrorOut),
    Status404(models::HttpErrorOut),
    Status409(models::HttpErrorOut),
    Status422(models::HttpValidationError),
    Status429(models::HttpErrorOut),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`v1_period_stream_period_event_type_period_patch`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum V1PeriodStreamPeriodEventTypePeriodPatchError {
    Status400(models::HttpErrorOut),
    Status401(models::HttpErrorOut),
    Status403(models::HttpErrorOut),
    Status404(models::HttpErrorOut),
    Status409(models::HttpErrorOut),
    Status422(models::HttpValidationError),
    Status429(models::HttpErrorOut),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`v1_period_stream_period_event_type_period_update`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum V1PeriodStreamPeriodEventTypePeriodUpdateError {
    Status400(models::HttpErrorOut),
    Status401(models::HttpErrorOut),
    Status403(models::HttpErrorOut),
    Status404(models::HttpErrorOut),
    Status409(models::HttpErrorOut),
    Status422(models::HttpValidationError),
    Status429(models::HttpErrorOut),
    UnknownValue(serde_json::Value),
}


/// Create an event type for Streams.
pub async fn v1_period_stream_period_event_type_period_create(configuration: &Configuration, params: V1PeriodStreamPeriodEventTypePeriodCreateParams) -> Result<models::StreamEventTypeOut, Error> {
    // unbox the parameters
    let stream_event_type_in = params.stream_event_type_in;
    let idempotency_key = params.idempotency_key;


    #[allow(unused_mut)]
    let mut req = crate::request::Request::new(http1::Method::POST, "/api/v1/stream/event-type".to_string())
    ;
    if let Some(param_value) = idempotency_key {
        req = req.with_header_param("idempotency-key".to_string(), param_value.to_string());
    }
    req = req.with_body_param(stream_event_type_in);

    req.execute(configuration).await
}

/// Delete an event type.
pub async fn v1_period_stream_period_event_type_period_delete(configuration: &Configuration, params: V1PeriodStreamPeriodEventTypePeriodDeleteParams) -> Result<(), Error> {
    // unbox the parameters
    let name = params.name;


    #[allow(unused_mut)]
    let mut req = crate::request::Request::new(http1::Method::DELETE, "/api/v1/stream/event-type/{name}".to_string())
    ;
    req = req.with_path_param("name".to_string(), name.to_string());
    req = req.returns_nothing();

    req.execute(configuration).await
}

/// Get an event type.
pub async fn v1_period_stream_period_event_type_period_get(configuration: &Configuration, params: V1PeriodStreamPeriodEventTypePeriodGetParams) -> Result<models::StreamEventTypeOut, Error> {
    // unbox the parameters
    let name = params.name;


    #[allow(unused_mut)]
    let mut req = crate::request::Request::new(http1::Method::GET, "/api/v1/stream/event-type/{name}".to_string())
    ;
    req = req.with_path_param("name".to_string(), name.to_string());

    req.execute(configuration).await
}

/// List of all the organization's event types for streaming.
pub async fn v1_period_stream_period_event_type_period_list(configuration: &Configuration, params: V1PeriodStreamPeriodEventTypePeriodListParams) -> Result<models::ListResponseStreamEventTypeOut, Error> {
    // unbox the parameters
    let limit = params.limit;
    let iterator = params.iterator;
    let order = params.order;


    #[allow(unused_mut)]
    let mut req = crate::request::Request::new(http1::Method::GET, "/api/v1/stream/event-type".to_string())
    ;
    if let Some(ref s) = limit {
        let query_value = s.to_string();
        req = req.with_query_param("limit".to_string(), query_value);
    }
    if let Some(ref s) = iterator {
        let query_value = s.to_string();
        req = req.with_query_param("iterator".to_string(), query_value);
    }
    if let Some(ref s) = order {
        let query_value = s.to_string();
        req = req.with_query_param("order".to_string(), query_value);
    }

    req.execute(configuration).await
}

/// Patch an event type for Streams.
pub async fn v1_period_stream_period_event_type_period_patch(configuration: &Configuration, params: V1PeriodStreamPeriodEventTypePeriodPatchParams) -> Result<models::StreamEventTypeOut, Error> {
    // unbox the parameters
    let name = params.name;
    let stream_event_type_patch = params.stream_event_type_patch;


    #[allow(unused_mut)]
    let mut req = crate::request::Request::new(http1::Method::PATCH, "/api/v1/stream/event-type/{name}".to_string())
    ;
    req = req.with_path_param("name".to_string(), name.to_string());
    req = req.with_body_param(stream_event_type_patch);

    req.execute(configuration).await
}

/// Update or create a event type for Streams.
pub async fn v1_period_stream_period_event_type_period_update(configuration: &Configuration, params: V1PeriodStreamPeriodEventTypePeriodUpdateParams) -> Result<models::StreamEventTypeOut, Error> {
    // unbox the parameters
    let name = params.name;
    let stream_event_type_in = params.stream_event_type_in;


    #[allow(unused_mut)]
    let mut req = crate::request::Request::new(http1::Method::PUT, "/api/v1/stream/event-type/{name}".to_string())
    ;
    req = req.with_path_param("name".to_string(), name.to_string());
    req = req.with_body_param(stream_event_type_in);

    req.execute(configuration).await
}

