## From .gitignore
# Cargo's artifact dir
/target/

# Server config files
/svix-server/config.toml
.env

# IDE
Session.vim

# MSVC debug files
*.pdb

# Sometimes convenient to have a tempdir for files not tracked by git
tmp/

## Docker-specific ignores
Dockerfile
.dockerignore
