name: Codegen

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# When pushing to a PR, cancel any jobs still running for the previous head commit of the PR
concurrency:
  # head_ref is only defined for pull requests, run_id is always unique and defined so if this
  # workflow was not triggered by a pull request, nothing gets cancelled.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  check-git-consistency:
    name: Check for uncommitted changes
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Regen openapi libs
        run: ./regen_openapi.py

      - name: Check for uncommitted changes
        run: |
          gs=$(git status -s)
          if [[ -n "$gs" ]]; then
            echo 'there are uncommitted changes!'
            echo 'please rerun `regen_openapi.py` and commit the result'
            git status
            exit 1
          else
            echo 'all good.'
          fi
