name: Server Release Test

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  docker:
    name: release docker
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Derive Version Numbers
        id: gen_docker_tags
        run: |
          export REPO="${{ secrets.DOCKERHUB_USERNAME }}/svix-server"
          export GIT_TAG="$(git describe --tags --abbrev=0)"
          export DOCKER_TAGS=$(echo "${GIT_TAG}" | sed -E "s#v([0-9]+)\.([0-9]+)\.([0-9]+)#${REPO}:latest,${REPO}:v\1.\2.\3,${REPO}:v\1.\2,${REPO}:v\1#")
          echo "latest_tag=${REPO}:latest" >> "$GITHUB_OUTPUT"
          echo "docker_tags=${DOCKER_TAGS}" >> "$GITHUB_OUTPUT"
          echo "Generated Tags: ${DOCKER_TAGS}"

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./server
          file: ./server/Dockerfile
          push: false
          tags: ${{ steps.gen_docker_tags.docker_tags }}
          platforms: linux/amd64
          load: true

      - name: Scan image with Grype
        id: scan
        uses: anchore/scan-action@v6
        with:
          image: "${{ steps.gen_docker_tags.latest_tag }}"
          fail-build: true
          severity-cutoff: high
          only-fixed: true
          output-file: grype.sarif

      - name: Inspect action SARIF report
        if: ${{ !cancelled() && hashFiles('grype.sarif') != '' }}
        run: cat ${{ steps.scan.outputs.sarif }}
